form {
    background-color: #B9EFF8;
    border-radius: 5px;
    margin: 20px auto;
    padding: 35px;
    width: 90%;
}

input, textarea {
    border: 1px solid #1C4E99;
    border-radius: 4px;
    display: inline-block;
    margin: 8px 0;
    padding: 12px 20px;
    width: 100%;
}

textarea {
    height: 150px;
}

label {
    color: #1C4E99;
    font-weight: 600;
}

button {
    background-color: #1C4E99;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    margin: 8px 0;
    padding: 14px 20px;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:focus,
button:hover {
    background-color: #3E7FE8;
    color: #FFFFFF;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  form { width: 70%; }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  form { width: 50%; }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  form { width: 40%; }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  form { width: 30%; }
}