footer{
    background-color:#2E333F ;
    color: #2F76DC;
    padding: 8px 0 4px 0;
    text-align:center;
    width: 100%;
}

footer a {
    color:#2F76DC;
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    text-align: center;
}

footer img {
    height:22px;
    margin-left: 3px;
    vertical-align: middle;
}