
h2 {
    display: none;
}
h3 {color: #1C4E99; /* darker blue */
    font-size:140% ;
    text-align: center;
}

aside {
    background-color:#B9EFF8;
    font-size: 160%;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}

aside a {
    color: #1C4E99; /* darker blue */
    display: block;
    padding: 5px 0;
    text-decoration: none;
    width: 100%;

}

aside a:hover {
background-color: #1C4E99;/* darker blue */
color:#B9EFF8;  
}

aside a:focus {
background-color:#1C4E99;/* darker blue */
color:#B9EFF8;  

outline: none;
}

#luffy_gold{
    width: 100%;
    align-content: center;

}
article {
   background-color: #B9EFF8;
   color: #1C4E99; /* darker blue */
    font-size: 120%;
    padding: 0 10px;}

    article a {
   color: #1C4E99; /* darker blue */
        padding: 5px;
        text-decoration: none;}

        article a:hover {
        background-color: #1C4E99; /* darker blue */
        color: #B9EFF8;}

       article a:focus {
        background-color: #1C4E99; /* darker blue */

            color: #B9EFF8;
        text-decoration: none;}

        /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    main {
        display: flex;
    }

    aside {
        background-color: #B9EFF8;
        align-items: center;
        display: flex;
        flex-direction: column;
        float: left;
        justify-content: center;
        width: 35%;
        border-radius: 100px;
        border-color: #2F76DC;
        padding: 2%;
    
    }

        section {
            background-color: #1C4E99; /* darker blue */
            display: inline;
            float: right;
            width: 65%;
            align-items: center;
            padding: 10px;
        }
        
    }@media only screen and (min-width: 768px) {
  #luffy_gold {
    padding: 60px;
  }
}
            

